@charset "UTF-8";
/* FUNCIONALIDADES */
main .hero div a, main .prod-index .contenedor-flex div a, .productos .contenedor-grid .producto .card2 a {
  color: #ffffff;
  background-color: #adadf3;
  border: 1px solid #adadf3;
  border-radius: 5px;
  padding: 3px;
  margin: 2px; }

/*cosas generales como fuentes , reeset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*esto es para que a un objeto con un tamaño especifico si se le agrega un borde/padding o lo que sea no se agrande mas sino que se achica el contenido y que quede del tamaño indicado inicialmente*/ }

a {
  text-decoration: none !important; }

header {
  background-color: #adadf3;
  /* height: 13vh; */ }
  header nav .container-fluid {
    margin: 5px 10px 5px 0; }
    header nav .container-fluid .navbar-brand img {
      width: 125%;
      height: 8vh;
      padding-right: 5px; }
    header nav .container-fluid .collapse ul li a {
      color: #ffffff; }
      header nav .container-fluid .collapse ul li a:hover {
        color: #cc8bff !important; }

main .hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 74vh;
  color: #ffffff; }
  main .hero div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25%;
    transition-delay: 2s; }
    main .hero div h2 {
      text-align: center;
      font-size: 45px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 8px;
      margin: 4px;
      color: #000000;
      border: 4px solid #ffffff;
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.726);
      text-shadow: -6px 4px 5px rgba(173, 173, 243, 0.85); }
    main .hero div p {
      margin-top: 25px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      padding: 10px;
      color: #ffffff;
      width: 80%; }
    main .hero div a {
      transition: 1s ease-in; }
      main .hero div a:hover {
        transform: scale(1.1);
        box-shadow: 5.2px 6.7px 4.8px rgba(0, 0, 0, 0.056), 14.3px 18.7px 13.4px rgba(0, 0, 0, 0.08), 34.4px 44.9px 32.3px rgba(0, 0, 0, 0.104), 114px 149px 107px rgba(0, 0, 0, 0.16); }

main .Bienvenidos {
  margin-top: 20px; }
  main .Bienvenidos h3 {
    text-align: center;
    font-size: 45px;
    margin: 15px;
    margin-bottom: 20px;
    text-shadow: -6px 4px 5px rgba(138, 56, 255, 0.85); }
  main .Bienvenidos div {
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: space-around; }
    main .Bienvenidos div div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%; }
      main .Bienvenidos div div p {
        font-size: 20px;
        width: 100%;
        text-align: left; }
      main .Bienvenidos div div img {
        width: 65%; }
    main .Bienvenidos div img {
      width: 45%;
      margin: 5px; }

main .prod-index {
  margin-top: 20px; }
  main .prod-index h2 {
    padding: 10px;
    text-align: center;
    background: linear-gradient(90deg, #adadf3 35%, rgba(255, 255, 255, 0.983631) 100%); }
    main .prod-index h2 a {
      color: #000000; }
  main .prod-index .contenedor-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    main .prod-index .contenedor-flex div {
      border: solid 1px black;
      margin: 15px;
      padding: 10px;
      text-align: center;
      width: 270px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: 3s ease; }
      main .prod-index .contenedor-flex div img {
        height: 250px;
        width: 250px;
        display: block; }
      main .prod-index .contenedor-flex div h3 {
        text-align: center;
        margin: 10px; }
      main .prod-index .contenedor-flex div p {
        display: block; }
      main .prod-index .contenedor-flex div a {
        /*                             box-shadow:
                                    0.9px 0.9px 19.6px rgba(0, 0, 0, 0.07),
                                    1.9px 2px 23.1px rgba(0, 0, 0, 0.101),
                                    3.8px 4.1px 23.7px rgba(0, 0, 0, 0.128),
                                    24px 26px 22px rgba(0, 0, 0, 0.16);    */ }
      main .prod-index .contenedor-flex div:hover {
        transform: scale(1.1);
        box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.042), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.061), 12.5px 12.5px 10px rgba(0, 0, 0, 0.075), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.089), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.108), 100px 100px 80px rgba(0, 0, 0, 0.15); }

main .carrusel {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: linear-gradient(0deg, #adadf3 35%, rgba(255, 255, 255, 0.983631) 100%); }
  main .carrusel .carousel-inner .carousel-item {
    transition: 1s; }
  main .carrusel .carousel-inner .carousel-item img {
    width: 600px;
    height: 500px; }
  main .carrusel #flechaEnlace {
    width: 100%;
    margin-top: 40px; }
    main .carrusel #flechaEnlace a {
      display: flex;
      justify-content: left; }
      main .carrusel #flechaEnlace a i {
        font-size: 3rem;
        color: #000000; }

main .fixed a {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff; }
  main .fixed a img {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1; }

section iframe {
  margin: 5px;
  width: 100%;
  height: 35vh; }

.form {
  background-color: #ccc3c396; }
  .form .tituloform {
    text-align: center;
    background-color: #adadf3;
    border-radius: 5px;
    margin: 5px;
    padding: 2px; }
  .form .cont-flex {
    display: flex;
    justify-content: center;
    align-items: center; }
    .form .cont-flex form {
      padding: 10px;
      width: 60%; }
      .form .cont-flex form div .textarea {
        margin-top: 30px; }
        .form .cont-flex form div .textarea textarea {
          width: 100%;
          border-radius: 10px; }
      .form .cont-flex form div div button {
        background-color: #514ab3;
        border: none; }
        .form .cont-flex form div div button:hover {
          transform: scale(1.05); }

section .nosotros {
  text-align: center; }
  section .nosotros h2 {
    background-image: url(../img/low-poly-grid-haikei.png);
    color: #000000;
    padding: 15px;
    text-align: center;
    font-size: 5rem;
    height: 20vh;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }
  section .nosotros div .divTitulo h3 {
    font-size: 3em;
    margin-top: 6rem;
    background: radial-gradient(#adadf3, #ffffff);
    border-radius: 10px;
    width: 100%; }
  section .nosotros div div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px; }
    section .nosotros div div p {
      width: 40%;
      font-size: 25px;
      padding: 15px; }
    section .nosotros div div img {
      width: 40%;
      height: 40vh; }
  section .nosotros div .texto2 {
    flex-direction: row-reverse; }
    section .nosotros div .texto2 .img2 {
      width: 50%;
      height: 60vh; }
  section .nosotros div .texto4 {
    flex-direction: row-reverse; }
    section .nosotros div .texto4 .img4 {
      width: 35%; }
  section .nosotros div .texto5 .img5 {
    width: 30%; }

.servicios h2 {
  text-align: center;
  font-size: 3rem;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.538253) 15%, #d78ef1 53%, black 94%);
  height: 10vh;
  padding-top: 15px;
  animation: 3s ease-in-out slide-in; }

@keyframes slide-in {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0;
    width: 100%; } }

.servicios .services {
  height: 74vh; }
  .servicios .services div {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .servicios .services div h3 {
      padding: 10px;
      font-size: 2rem; }
  .servicios .services .delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px; }
    .servicios .services .delivery div {
      flex-direction: row-reverse;
      justify-content: space-around; }
      .servicios .services .delivery div p {
        width: 60%; }
      .servicios .services .delivery div img {
        width: 250px;
        height: 250px; }
  .servicios .services .mercadolibre {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px; }
    .servicios .services .mercadolibre div {
      justify-content: space-around; }
      .servicios .services .mercadolibre div img {
        padding: 5px; }
      .servicios .services .mercadolibre div p {
        width: 60%; }

.productos {
  text-align: center; }
  .productos .productos-H2 {
    padding: 30px;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    display: inline-block; }
    .productos .productos-H2:hover {
      transform: scale(1.1); }
  .productos .contenedor-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    row-gap: 5px;
    column-gap: 5px;
    padding: 0 10px 5px 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.538253) 25%, black 100%); }
    .productos .contenedor-grid .producto {
      background-image: linear-gradient(163deg, #adadf3 30%, #ffffff 90%);
      border-radius: 20px;
      transition: transform 0.6s ease, box-shadow 0.9s ease; }
      .productos .contenedor-grid .producto:hover {
        box-shadow: 0px 0px 30px 1px #4f048d; }
      .productos .contenedor-grid .producto .card2 {
        width: 98%;
        height: 398px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .productos .contenedor-grid .producto .card2:hover {
          transform: scale(0.98);
          border-radius: 20px; }
        .productos .contenedor-grid .producto .card2 img {
          width: 50%;
          height: 40vh;
          object-fit: contain; }
        .productos .contenedor-grid .producto .card2 p {
          width: 80%;
          text-align: center; }

footer {
  background-color: #adadf3;
  height: 8vh;
  display: flex;
  align-items: center; }
  footer a img {
    padding: 5px;
    margin: 5px;
    height: 40px;
    width: 40px; }

@media screen and (max-width: 1400px) {
  /*! ----INDEX----*/
  .Bienvenidos div .divMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
    .Bienvenidos div .divMedia p {
      width: 40%; }
    .Bienvenidos div .divMedia img {
      width: 50%;
      height: 60vh; }
  .Bienvenidos div .BienvenidosImg {
    display: none; } }

@media screen and (max-width: 1200px) {
  /*! ----INDEX----*/
  .hero div p {
    font-size: 20px;
    font-weight: bold; }
  .carrusel .carousel .carousel-inner .carousel-item img {
    width: 500px;
    height: 400px; }
  /*!------NOSOTROS------------*/
  section .nosotros div div {
    padding: 10px; }
    section .nosotros div div p {
      margin-top: 15px;
      width: 50%; }
    section .nosotros div div img {
      width: 50%; }
  /*!------SERVICIOS------------*/
  .servicios .services .delivery {
    flex-direction: column; }
    .servicios .services .delivery h3 {
      width: 100%;
      text-align: left; }
  .servicios .services .mercadolibre {
    flex-direction: column; }
    .servicios .services .mercadolibre h3 {
      width: 100%;
      text-align: left; } }

@media screen and (max-width: 1100px) {
  section .nosotros div {
    flex-direction: column-reverse !important; }
    section .nosotros div img {
      width: 55%; }
    section .nosotros div p {
      width: 70%; }
  section .nosotros div div {
    flex-direction: column-reverse; }
    section .nosotros div div p {
      width: 70%; }
    section .nosotros div div img {
      width: 55%; } }

@media screen and (max-width: 1000px) {
  /*! ----INDEX----*/
  .Bienvenidos div .divMedia img {
    height: 50vh; }
  /*! ----PRODUCTOS----*/
  .productos .contenedor-grid {
    grid-template-columns: repeat(3, 1fr); }
  /*!------NOSOTROS------------*/
  section .nosotros div div p {
    font-size: 20px; } }

@media screen and (max-width: 900px) {
  /*! ----INDEX----*/
  .hero div p {
    width: 90%; }
  /*! ----PRODUCTOS----*/
  .productos .contenedor-grid {
    grid-template-columns: repeat(2, 1fr); }
  /*!-------NOSOTROS------*/
  section .nosotros h2 {
    font-size: 4rem;
    font-weight: bold; }
  section .nosotros div .divTitulo h3 {
    font-size: 2.5rem; }
  section .nosotros div div img {
    width: 70%; }
  section .nosotros div div p {
    width: 80%; }
  section .nosotros div .texto2 img {
    height: 50vh; }
  /*!------SERVICIOS------------*/
  .servicios .services {
    display: flex;
    flex-direction: column;
    height: auto; }
    .servicios .services .delivery div p {
      width: 100%; }
    .servicios .services .delivery div img {
      width: 30%; }
    .servicios .services .mercadolibre div {
      flex-direction: column; }
      .servicios .services .mercadolibre div img {
        width: 50%; }
      .servicios .services .mercadolibre div p {
        margin-top: 10px;
        width: 100%; } }

@media screen and (max-width: 850px) {
  /*!------SERVICIOS------------*/
  .servicios .services .mercadolibre div img {
    height: 200px;
    width: 50%; } }

@media screen and (max-width: 800px) {
  /*! ----INDEX----*/
  .hero div p {
    width: 100%; }
  .Bienvenidos div .divMedia {
    flex-direction: column; }
    .Bienvenidos div .divMedia p {
      width: 80%;
      margin: 10px; }
    .Bienvenidos div .divMedia img {
      width: 70%;
      margin: 10px; }
  .carrusel .carousel .carousel-inner .carousel-item img {
    width: 400px;
    height: 300px; }
  /*!------NOSOTROS------------*/
  section .nosotros div div p {
    width: 90%; }
  section .nosotros div .texto2 .img2 {
    height: 50vh; }
  section .nosotros div .texto5 .img5 {
    width: 50%; }
  /*!------SERVICIOS------------*/
  .servicios .services .delivery div {
    flex-direction: column; }
    .servicios .services .delivery div img {
      height: 300px;
      width: 40%; }
    .servicios .services .delivery div p {
      width: 95%; } }

@media screen and (max-width: 750px) {
  /*!------NOSOTROS------------*/
  section .nosotros div .texto2 img {
    height: 40%; }
  /*!------SERVICIOS------------*/
  .servicios .services .delivery div img {
    width: 50%; }
  .servicios .services .mercadolibre div p {
    width: 95%; } }

@media screen and (max-width: 700px) {
  /*! ----INDEX----*/
  #hero div h2 {
    width: 80%; }
  #hero div p {
    font-size: 20px; }
  /*! ----PRODUCTOS----*/
  .productos .contenedor-grid .producto img {
    width: 60%; }
  .productos .contenedor-grid .producto h3 {
    font-size: 1.3rem; }
  /*! ----NOSOTROS----*/
  section .nosotros div .divTitulo h3 {
    font-size: 2.2rem; } }

@media screen and (max-width: 650px) {
  /*! ----INDEX----*/
  .Bienvenidos div .divMedia {
    width: 100%;
    padding: 10px; }
    .Bienvenidos div .divMedia img {
      width: 80%; }
  .carrusel .carousel .carousel-inner .carousel-item img {
    width: 300px;
    height: 300px; }
  /*! ----CONTACTO----*/
  .form .cont-flex form {
    width: 80%; }
  /*!------NOSOTROS------------*/
  section .nosotros h2 {
    font-size: 3rem; }
  section .nosotros div .divTitulo h3 {
    font-size: 2rem; }
  section .nosotros div div p {
    font-size: 1.2rem; }
  section .nosotros div .texto1 .img1 {
    width: 80%; }
  section .nosotros div .texto2 .img2 {
    width: 50%; }
  section .nosotros div .texto3 .img3 {
    width: 80%; }
  section .nosotros div .texto5 .img5 {
    width: 60%; }
  /*!------SERVICIOS------------*/
  .servicios h2 {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.538253) 24%, #d78ef1 73%, black 100%); }
  .servicios .services .delivery div img {
    width: 60%; } }

@media screen and (max-width: 550px) {
  /*!------INDEX--------*/
  .Bienvenidos div .divMedia img {
    width: 95%;
    height: 40vh;
    object-fit: cover; }
  .productos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .productos h2 {
      width: 100%; }
    .productos .contenedor-grid {
      grid-template-columns: 1fr;
      width: 70%; }
  /*!------SERVICIOS------------*/
  .servicios h2 {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.538253) 24%, #d78ef1 69%); }
  .servicios .services .delivery div img {
    width: 70%; }
  .servicios .services .mercadolibre div img {
    width: 60%; }
  /*!------PRODUCTOS------------*/
  .productos .contenedor-grid {
    background: none; }
  /*!------NOSOTROS------------*/
  section .nosotros div .divTitulo h3 {
    font-size: 1.8rem; }
  section .nosotros div .texto1 .img1 {
    width: 95%; }
  section .nosotros div .texto2 .img2 {
    width: 55%; }
  section .nosotros div .texto3 .img3 {
    width: 95%; } }

@media screen and (max-width: 500px) {
  /*! ----INDEX----*/
  .Bienvenidos div .divMedia img {
    object-fit: contain; }
  #hero div {
    top: 5%; }
    #hero div h2 {
      font-size: 35px; }
  /*!------NOSOTROS------------*/
  section .nosotros h2 {
    font-size: 2.5rem; }
  section .nosotros div .divTitulo h3 {
    font-size: 1.5rem;
    height: 7vh;
    font-weight: bolder;
    padding-top: 7px; }
  section .nosotros div .texto2 .img2 {
    width: 60%; }
  /*!------SERVICIOS------------*/
  .servicios h2 {
    font-size: 2.5rem; } }

@media screen and (max-width: 450px) {
  /*! ----INDEX----*/
  .hero div h2 {
    font-size: 25px; }
  /*!------NOSOTROS------------*/
  section .nosotros h2 {
    font-size: 2.1rem; }
  section .nosotros div .divTitulo {
    font-size: 1.3; }
  section .nosotros div div p {
    font-size: 1.05rem;
    width: 95%; }
  section .nosotros div .texto1 .img1 {
    width: 100%;
    padding: 2px; }
  section .nosotros div .texto3 .img3 {
    width: 100%;
    padding: 2px; }
  /*!------CONTACTO------------*/
  .form .cont-flex form {
    width: 100%; }
  /*!------PRODUCTO------------*/
  .productos .contenedor-grid {
    width: 80%; }
  /*!------SERVICIOS------------*/
  section .services .delivery h3 {
    width: 100%;
    text-align: center; }
  section .services .delivery div img {
    width: 80%; }
  section .services .mercadolibre h3 {
    width: 100%;
    text-align: center; }
  section .services .mercadolibre div img {
    width: 70%; } }

@media screen and (max-width: 400px) {
  /*! ----INDEX----*/
  .Bienvenidos div .divMedia img {
    width: 100%; }
  .carrusel .carousel .carousel-inner .carousel-item img {
    width: 250px;
    height: 250px; }
  /*!------SERVICIOS------------*/
  .servicios h2 {
    font-size: 2.2rem; }
  .servicios .services .delivery div img {
    width: 100%; }
  .servicios .services .mercadolibre div img {
    width: 100%; }
  /*!------NOSOTROS------------*/
  section .nosotros div .divTitulo h3 {
    font-size: 1.3rem;
    padding-top: 10px;
    height: 5vh; } }
