header{
    background-color: $color-principal;
    /* height: 13vh; */

    nav{
        
        .container-fluid{
            margin: 5px 10px 5px 0;

            .navbar-brand{
                img{
                    width: 125%;
                    height: 8vh;
                    padding-right: 5px;
                }
            }

            .collapse{

                ul{

                    li{

                        a{
                            color: $color-secundario;
                            &:hover{
                                color: nth($colores, 2) !important;
                            }
                        }
                    }
                }
            }
        }
    }
}