//!----------INDEX-----------

main{

    .hero{
        background: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url(../../img/hero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 74vh;
        color: $color-secundario;

        div{
            @include flex-direction(flex, column, center);

            position: relative;
            top: 25%;

            transition-delay: 2s;

            h2{
                text-align: center;
                font-size: 45px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                padding: 8px;
                margin: 4px;
                color: nth($colores, 1);
                border: 4px solid $color-secundario;
                border-radius: 15px;
                background-color: rgba(255, 255, 255, 0.726);
                text-shadow: -6px 4px 5px rgba(173, 173, 243, 0.85);
            }

            p{
                margin-top: 25px;
                text-align: center;
                font-size: 25px;
                font-weight: bold;
                padding: 10px;
                color: $color-secundario;
                width: 80%;
            }

            a{
                @extend %boton;
                
                transition: 1s ease-in;

                &:hover{
                    transform: scale(1.1);
                    box-shadow:
                        5.2px 6.7px 4.8px rgba(0, 0, 0, 0.056),
                        14.3px 18.7px 13.4px rgba(0, 0, 0, 0.08),
                        34.4px 44.9px 32.3px rgba(0, 0, 0, 0.104),
                        114px 149px 107px rgba(0, 0, 0, 0.16);
                }
            }
        }
    }

    .Bienvenidos{
                margin-top: 20px;

                h3{
                    text-align: center;
                    font-size: 45px;
                    margin: 15px;
                    margin-bottom: 20px;
                    text-shadow: -6px 4px 5px rgba(138,56,255,0.85);
                }

                div{
                    text-align: center;
                    margin: 5px;
                    display: flex;  
                    justify-content: space-around;
                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 50%;

                        p{
                            font-size: 20px;
                            width: 100%;
                            text-align: left;
                        }
                        

                        img{
                            width: 65%;
                        }
                    }
                    
                    img{
                        width:45%;
                        margin: 5px;
                    }
                }
            }

    .prod-index{
                margin-top: 20px;

                    h2{
                        a{
                            color: nth($colores, 1);
                        } 
                        padding: 10px;
                        text-align: center;
                        background: linear-gradient(90deg, $color-principal 35%, rgba(255,255,255,0.9836309523809523) 100%);
                    }

                .contenedor-flex{
                    @include flex(flex, space-around, center);
                    flex-wrap: wrap;

                    div{
                        border: solid 1px rgb(0, 0, 0);
                        margin: 15px;
                        padding: 10px;
                        text-align: center;
                        width: 270px;
                        @include flex-direction(flex, column, center);
                        justify-content: space-between;
                        
                        img{
                            height: 250px;
                            width: 250px;
                            display: block;
                        }

                        h3{
                            text-align: center;
                            margin: 10px;
                        }

                        p{
                            display: block;
                        }

                        a{
                            @extend %boton;
/*                             box-shadow:
                                    0.9px 0.9px 19.6px rgba(0, 0, 0, 0.07),
                                    1.9px 2px 23.1px rgba(0, 0, 0, 0.101),
                                    3.8px 4.1px 23.7px rgba(0, 0, 0, 0.128),
                                    24px 26px 22px rgba(0, 0, 0, 0.16);    */
                        }

                        transition: 3s ease;
                        
                        &:hover{
                            transform: scale(1.1);
                            box-shadow:
                                    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.042),
                                    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.061),
                                    12.5px 12.5px 10px rgba(0, 0, 0, 0.075),
                                    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.089),
                                    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.108),
                                    100px 100px 80px rgba(0, 0, 0, 0.15)
;
                        }
                    }
                }
    }

    .carrusel{
            display: flex;
            flex-direction: column;

            margin-top: 40px;
            @include flex(flex, center, center);
            padding: 30px;
            background: linear-gradient(0deg, $color-principal 35%, rgba(255,255,255,0.9836309523809523) 100%);

            .carousel-inner .carousel-item{
                transition: 1s;
            }

            .carousel-inner .carousel-item img{
                width: 600px;
                height: 500px;
            }

            #flechaEnlace{
                width: 100%;
                margin-top: 40px;
                a{
                    display: flex;
                    justify-content: left;
                    
                    i{
                        font-size: 3rem;
                        color: nth($colores, 1)
                    }
                }
            }
        }

    .fixed{ 
            a {
                margin: 0;
                padding: 0;
                border: 0;
                background-color: $color-secundario;

                img{  
                    width: 60px;
                    height: 60px;
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    z-index: 1; 
                }
            }
        }
}

//!----------CONTACTO-----------
section{
    iframe{
        margin: 5px;
        width: 100%;
        height: 35vh;
    }
}

.form{
    background-color: #ccc3c396;
    .tituloform{
        text-align: center;
        background-color: $color-principal;
        border-radius: 5px;
        margin: 5px;
        padding: 2px;
    }

    .cont-flex{
        @include flex(flex, center, center);

        form{
            padding: 10px;
            width: 60%;

            div{
                .textarea{
                    margin-top: 30px;

                    textarea{
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                div{
                    button{
                        background-color: nth($colores, 5);
                        border: none;

                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}

//!----------NOSOTROS-----------

section{
    .nosotros{
        text-align: center;
        h2{
            background-image: url(../img/low-poly-grid-haikei.png);
            color: nth($colores, 1 );
            padding: 15px;
            text-align: center;
            font-size: 5rem;
            height: 20vh;
            font-weight: bold;
            font-family: Helvetica;
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
        }
        
        div{
            .divTitulo{            
                h3{
                    font-size: 3em;
                    margin-top: 6rem;
                    background: radial-gradient(#adadf3,#ffffff);
                    border-radius: 10px;
                    width: 100%;
                }
            }

            div{
                @include flex(flex, space-evenly, center);
                margin-top: 25px;
    
                p{
                    width: 40%;
                    font-size: 25px;
                    padding: 15px;
                }
    
                img{
                    width: 40%;
                    height: 40vh;
                }
            }
            
            .texto2{
                flex-direction: row-reverse;
    
                .img2{
                    width: 50%;
                    height: 60vh;
                }
            }
    
            .texto4{
                flex-direction: row-reverse;
    
                .img4{
                    width: 35%;
                }
            }
    
            .texto5{
                .img5{
                    width: 30%;  
                }
            }
        }        
    }
}

//!----------SERVICIOS-----------

.servicios{
    h2{
        text-align: center;
        font-size: 3rem;
        background: radial-gradient(circle, rgba(255,255,255,0.5382528011204482) 15%, rgba(215,142,241,1) 53%, rgba(0,0,0,1) 94%);
        height: 10vh;
        padding-top: 15px;
        animation: 3s ease-in-out slide-in;
        
    }

    @keyframes slide-in {
        from{
            margin-left: 100%;
            width: 300%;
        }
        to{
            margin-left: 0;
            width: 100%;
        }
    }

    .services{
        height: 74vh;  

        div{
            @include flex-direction(flex, row, center);
            
            h3{
                padding: 10px;
                font-size: 2rem
            }
            
        }

        .delivery{
            @include flex-direction(flex, row, center);
            margin: 10px;

            div{
                flex-direction: row-reverse;
                justify-content: space-around;

                p{
                    width: 60%;
                }

                img{
                    width: 250px;
                    height: 250px
                }
            }

        }

        .mercadolibre{
            @include flex-direction(flex, row-reverse, center);
            margin: 10px;

            div{
                justify-content: space-around;
                img{
                    padding: 5px;
                }

                p{
                    width: 60%;
                }
            }
        }
    }
}

//!----------PRODUCTOS-----------

.productos{
    text-align: center;
    .productos-H2{
        padding: 30px;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        font-family: Helvetica;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
        display: inline-block;
        &:hover{
            transform: scale(1.1);
        }
    }

    .contenedor-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 400px;
        row-gap: 5px;
        column-gap: 5px;
        padding: 0 10px 5px 10px;
        background: linear-gradient(180deg, rgba(255,255,255,0.5382528011204482) 25%, rgba(0,0,0,1) 100%);


        .producto{
            background-image: linear-gradient(163deg, $color-principal 30%, $color-secundario 90%);
            border-radius: 20px;
            transition: transform 0.6s ease, box-shadow 0.9s ease;

            &:hover{
                box-shadow: 0px 0px 30px 1px rgb(79, 4, 141);
            }

            .card2{
                width: 98%;
                height: 398px;
                @include flex-direction(flex, column, center);

                &:hover{
                    transform: scale(0.98);
                    border-radius: 20px;
                }
    
                img{
                    width: 50%;
                    height: 40vh;
                    object-fit:contain ;
                }
    
                p{
                    width: 80%;
                    text-align: center
                }
                
                a{
                    @extend %boton
                }
            }
            
        }
    }
}